
<table>
<tr><td>
  <ul>
    <li>{{co.semester}}</li>
    <li>{{co.location}}, {{co.time}}</li>
    <li>
      <p>{{co.credit_hours}} Credit Hours</p>
    </li>
    <li>Instructor: {{ii.name}}</li>
    <ul>
      <li>Email: {{ii.email}}</li>
      <li>Office: {{ii.office}}</li>
      <li>Office Hour: {{ii.office_hours}}</li>
      <li> Preferred Contact Method: email</li>
      </ul>
  </td>
  <td>
  <ul>
  {% for ta in site.data.class.tas %}
  <li>Instructional Assistant: {{ta.name}}</li>
  <ul>
    <li>Email: {{ta.email}}</li>
    <li>Office: {{ta.office}}</li>
    <li>Office Hours: {{ta.office_hours}}</li>
  </ul>
  {% endfor %}
  {% for url in site.data.class.urls %}
  <li>{{url.name}}: <a href="{{url.url}}">{{url.url}}</a></li>
  {% endfor %}
  </ul>
  </td></tr>
</table>

