---
layout: default
---
<h1>{{site.title}}</h1>

{{ content }}

<p><a href="{{'syllabus.html' | relative_url}}">Course syllabus</a></p>

<h2>Weekly Lectures and Materials</h2>

<ul>
{% assign sorted_pages = site.html_pages | sort:"path" %}
{% for f in sorted_pages %}
{% if f.dir contains "week" and f.path contains "index" %}
<li><a href="{{f.url | relative_url }}">{{f.title}}</a></li>
{% endif %}
{% endfor %}
</ul>

<h2>Assignments</h2>
<ul>
{% for f in sorted_pages %}
{% if f.dir contains "assignments" and f.path contains "assignment" %}
<li><a href="{{f.url | relative_url }}">{{f.title}}</a> - Due {{f.due}}</li>
{% endif %}
{% endfor %}
</ul>
